# Dev
pip-tools
pytest
pytest-black
pytest-cov
pytest-flake8
pytest-isort
pytest-mypy
coveralls
types-PyYAML

# Docs
-e git+https://github.com/radiac/doc8.git@feature/python-api#egg=doc8
#sphinx
#sphinx_rtd_theme

# Project
pyyaml
